.visor{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    top: 10px;
    width: 90%;
    height: 60px;
    font-size: 2em;
    background-color: rgb(77, 159, 77);
    border-radius: 10px;
    margin-bottom: 10px;
    z-index: 1;
}

.visor p{
    margin-right: 10px;
}